@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
	To add custom overrides
	https://tailwindcss.com/docs/functions-and-directives
*/
:root {
  --animate-duration: 250ms !important;
}

@layer base {
  html,
  body {
    scroll-behavior: smooth;
    @apply h-full;
    @apply bg-background text-on-background;
    @apply dark:bg-background-dark dark:text-on-background-dark;
  }

  #root {
    @apply h-full;
    @apply min-h-screen;
  }
}
